#section6 {
  width: 100%;
}
#section6 .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#section6 .container .gap {
  width: 100%;
  padding: 0 20px;
  margin: 0 0 95px 0;
}
#section6 .container .gap .content {
  width: 100%;
  position: relative;
}
#section6 .container .gap .content .slide-container {
  width: 100%;
}
#section6 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#section6 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 300%;
  display: flex;
  position: relative;
  margin: 0 0 0 -100%;
}
#section6 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
}
#section6 .container .gap .content .slide-container .slide-view .slide-wrap .slide a {
  display: block;
  width: 100%;
}
#section6 .container .gap .content .slide-container .slide-view .slide-wrap .slide a img {
  width: 100%;
}
#section6 .container .gap .content > a {
  display: block;
  position: absolute;
  top: 40%;
  width: 20px;
}
#section6 .container .gap .content > a.prev-btn {
  left: 3%;
}
#section6 .container .gap .content > a.prev-btn img {
  width: 100%;
}
#section6 .container .gap .content > a.next-btn {
  right: 3%;
}
#section6 .container .gap .content > a.next-btn img {
  width: 100%;
}