@charset "UTF-8";
#section2 {
  width: 100%;
}
#section2 .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#section2 .container .gap {
  width: 100%;
  padding: 5px 10px;
  margin: 0 0 95px 0;
  text-align: center;
}
#section2 .container .gap .title {
  width: 100%;
  margin: 0 10px 35px 10px;
}
#section2 .container .gap .title h2 {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
  color: #222;
}
#section2 .container .gap .content {
  width: 100%;
}
#section2 .container .gap .content ul {
  width: 100%;
  display: flex;
}
#section2 .container .gap .content ul li {
  width: 25%;
  margin: 0 10px 4% 10px;
  text-align: left;
}
#section2 .container .gap .content ul li:hover .cart-img {
  bottom: 15px;
  opacity: 1;
}
#section2 .container .gap .content ul li a {
  position: relative;
}
#section2 .container .gap .content ul li a figure {
  display: block;
  position: relative;
}
#section2 .container .gap .content ul li a figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../../../public/img/image_custom_316252116938702.png) no-repeat 100% 0;
}
#section2 .container .gap .content ul li a figure img {
  width: auto;
}
#section2 .container .gap .content ul li a .cart-img {
  position: absolute;
  bottom: -37px;
  left: 45%;
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#section2 .container .gap .content ul li a .cart-img img {
  width: 26px;
  height: 26px;
  transform: translate(5px, 6px);
}
#section2 .container .gap .content ul li div h3 {
  margin: 33px 0 10px 0;
}
#section2 .container .gap .content ul li div h3 a {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}
#section2 .container .gap .content ul li div .rate-price {
  color: #ff5da4;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: "Rubik";
  line-height: 18px;
}
#section2 .container .gap .content ul li div .rate-price em {
  font-size: 15px;
  font-family: "Noto Sans KR";
  letter-spacing: 0.4px;
}
#section2 .container .gap .content ul li div .sale-price {
  color: #222;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Rubik";
}
#section2 .container .gap .content ul li div .sale-price em {
  font-size: 13px;
  font-family: "Noto Sans KR";
  letter-spacing: 0.4px;
}
#section2 .container .gap .content ul li div .price {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: "Rubik";
  line-height: 18px;
  position: relative;
  padding: 0 0 0 12px;
}
#section2 .container .gap .content ul li div .price::after {
  content: "â† ";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8px;
}
#section2 .container .gap .content ul li div .price em {
  font-size: 13px;
}
#section2 .container .gap .content ul li div strong {
  display: block;
  color: #208e38;
  font-size: 14px;
  margin: 8px 0 0 0;
  font-weight: 300;
  line-height: 140%;
}
#section2 .container .gap .content ul li div strong em {
  font-weight: 700;
  letter-spacing: -0.14px;
}
#section2 .container .gap .content ul li div b {
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 140%;
  color: #898989;
}
#section2 .container .gap .content ul li div > em {
  display: inline-block;
  font-size: 11px;
  line-height: 18px;
  padding: 0 5px;
  margin: 5px 3px 9px 0;
  background: #f5f6f9;
  color: #191a1d;
  font-weight: 300;
}
#section2 .container .gap .more-btn-box {
  text-align: center;
}
#section2 .container .gap .more-btn-box button {
  width: 202px;
  height: 48px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}