#signIn{
    width: 100%;
    .container{
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 200px 0;
            .title{
                width: 100%;
                padding: 85px 20px 45px 20px;
                text-align: center;
                h1{
                    font-size: 42px;
                    font-weight: 700;
                    letter-spacing: -1px;
                    color: #222;
                    line-height: normal;
                }
                p{
                    padding: 5px 0;
                    font-size: 15px;
                    color: #383838;
                    font-weight: 300;
                    line-height: normal;
                }
            }
            .content{
                width: 100%;
                form{
                    width: 100%;
                    .login-box{
                        width: 100%;
                        ul{
                            width: 100%;
                            li{
                                width: 100%;
                                margin: 0 0 8px 0;
                                color: #222;
                                input{
                                    width: 100%;
                                    height: 36px;
                                    line-height: 28px;
                                    padding: 30px 2px 30px 15px;
                                    font-size: 16px;
                                    background: #f7f7f7;
                                    border: 0;
                                    color: #353535;
                                    outline: none;
                                    &::placeholder{
                                        font-weight: 600;
                                        color: #bbb;
                                    }
                                }
                            }
                        }
                    }
                    .button-box{
                        width: 100%;
                        margin: 30px 0 0 0;
                        padding: 15px 0;
                        button{
                            width: 100%;
                            font-size: 17px;
                            padding: 15px;
                            letter-spacing: -0.9px;
                            font-weight: 600;
                            color: #fff;
                            background: #1a1a1a;
                            border: 1px solid #1a1a1a;
                            line-height: 18px;
                            text-align: center;
                            cursor: pointer;
                            transition: all 0.5s;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                    >ul{
                        width: 100%;
                        padding: 20px 0 5px 0;
                        margin: 0 0 25px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li{
                            a{
                                color: #222;
                                font-size: 16px;
                                font-weight: 300;
                            }
                        }
                        i{
                            color: #e4e6eb;
                            margin: 0 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}