#sub4{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 0 10px;
            margin: 0 0 95px 0;
            .event-section{
                width: 100%;
                padding: 0 10px;
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                        img{
                            width: auto;
                        }
                    }
                }
            }
            .title{
                width: 100%;
                padding: 55px 0 24px 0;
                margin: 0 0 15px 0;
                text-align: center;
                h2{
                    width: 100%;
                    display: inline-block;
                    font-size: 34px;
                    line-height: 140%;
                    font-weight: 500;
                    letter-spacing: -1.02px;
                    color: #222;
                }
            }
            .content{
                width: 100%;
                .content-title{
                    width: 100%;
                    margin: 0 0 35px 0;
                    padding: 0 10px;
                    display: flex;
                    justify-content: space-between;
                    .category-box{
                        display: flex;
                        font-size: 12px;
                        line-height: 38px;
                        font-weight: 300;
                        color: #222;
                        p{
                            a{
                                vertical-align: top;
                                color: #222;
                            }
                        }
                    }
                    >p{
                        font-size: 12px;
                        line-height: 38px;
                        font-weight: 300;
                        color: #222;
                        strong{
                            font-weight: 400;
                            vertical-align: top;
                        }
                    }
                    .sort-by{
                        position: relative;
                        >a{
                            display: inline-block;
                            padding: 0 18px 0 0;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 5px;
                                margin: -3px 0 0 0;
                                border-left: 5px solid transparent;
                                border-bottom: 5px solid #aaaaaa;
                                transform: rotate(45deg);
                                transition: all 0.2s ease-in-out;
                            }
                            span{
                                vertical-align: top;
                                color: #222;
                                font-size: 12px;
                                line-height: 38px;
                                font-weight: 300;
                            }
                            &.on{
                                &:after{
                                    border-bottom-color: #000;
                                    transform: rotate(-315deg);
                                }
                            }
                        }
                        div{
                            position: absolute;
                            top: 30px;
                            right: -10px;
                            z-index: 3;
                            text-align: right;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 6px;
                                right: 16px;
                                border-style: solid;
                                border-width: 0 10.4px 10.4px 0;
                                border-color: transparent #fff transparent transparent;
                                box-shadow: 1px -1px 0 0 #f1f1f1;
                                transform: rotate(-45deg);
                            }
                            ul{
                                min-width: 110px;
                                background: #fff;
                                border: 1px solid #f3f3f3;
                                margin: 9px 0 0 0;
                                padding: 15px 10px;
                                box-shadow: 0 0 15px 0 rgba(4, 0, 0, 0.07);
                                li{
                                    line-height: 28px;
                                    padding: 0 12px 0 0;
                                    a{
                                        color: #242424;
                                        font-size: 12px;
                                        font-weight: 300;
                                        &:hover{
                                            color: #747474;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .content-list{
                    width: 100%;
                    ul{
                        width: 100%;
                        li{
                            display: inline-block;
                            width: 325px;
                            margin: 0 10px 4% 10px;
                            text-align: left;
                            vertical-align: top;
                            &:hover{
                                .cart-img{
                                    bottom: 15px;
                                    opacity: 1;
                                }
                            }
                            a{
                                position: relative;
                                figure{
                                    display: block;
                                    position: relative;
                                    img{
                                        width: 100%;
                                    }
                                }
                                .new-img{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    img{
                                        width: 100%;
                                    }
                                }
                                .cart-img{
                                    position: absolute;
                                    bottom: -37px;
                                    left: 45%;
                                    width: 37px;
                                    height: 37px;
                                    background: #fff;
                                    border-radius: 50%;
                                    opacity: 0;
                                    transition: all 0.3s ease-in-out;
                                    img{
                                        width: 26px;
                                        height: 26px;
                                        transform: translate(5px, 6px);
                                    }
                                }
                            }
                            div{
                                h3{
                                    margin: 33px 0 10px 0;
                                    a{
                                        color: #222222;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 22.4px;
                                    }
                                }
                                .rate-price{
                                    color: #ff5da4;
                                    font-weight: 500;
                                    font-size: 20px;
                                    letter-spacing: 0.2px;
                                    font-family: 'Rubik';
                                    line-height: 18px;
                                    em{
                                        font-size: 15px;
                                        font-family: 'Noto Sans KR';
                                        letter-spacing: 0.4px;
                                    }
                                }
                                .sale-price{
                                    color: #222;
                                    letter-spacing: 0.2px;
                                    font-size: 20px;
                                    line-height: 18px;
                                    font-weight: 700;
                                    font-family: 'Rubik';
                                    em{
                                        font-size: 13px;
                                        font-family: 'Noto Sans KR';
                                        letter-spacing: 0.4px;
                                    }
                                }
                                .price{
                                    color: #a0a0a0;
                                    font-size: 14px;
                                    font-weight: 300;
                                    letter-spacing: 0.2px;
                                    font-family: 'Rubik';
                                    line-height: 18px;
                                    position: relative;
                                    padding: 0 0 0 12px;
                                    &::after{
                                        content: 'â† ';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        font-size: 8px;
                                    }
                                    em{
                                        font-size: 13px;
                                    }
                                }
                                strong{
                                    display: block;
                                    color: #208e38;
                                    font-size: 14px;
                                    margin: 8px 0 0 0;
                                    font-weight: 300;
                                    line-height: 140%;
                                    em{
                                        font-weight: 700;
                                        letter-spacing: -0.14px;
                                    }
                                }
                                .box{
                                    b{
                                        display: block;
                                        margin: 0 0 5px 0;
                                        font-size: 12px;
                                        line-height: 140%;
                                        color: #898989;
                                    }
                                    >em{
                                        display: inline-block;
                                        font-size: 11px;
                                        line-height: 18px;
                                        padding: 0 5px;
                                        margin: 5px 3px 9px 0;
                                        background: #f5f6f9;
                                        color: #191a1d;
                                        font-weight: 300;
                                    }
                                }
                                .soldout-txt{
                                    display: block;
                                    width: 32px;
                                    font-size: 11px;
                                    line-height: 18px;
                                    padding: 0 5px;
                                    margin: 13px 3px 3px 0;
                                    color: #fff;
                                    background: #000;
                                    font-weight: 300;
                                    border: 1px solid #000;
                                }
                            }
                        }
                    }
                }
            }
            .pagenation{
                margin: 30px 0;
                text-align: center;
                a{
                    display: inline-block;
                    width: 23px;
                    height: 23px;
                    margin: 0 5px;
                    img{
                        width: 100%;
                        margin: 1px 0 0 0;
                        &.prev-btn{
                            transform: rotate(90deg);
                        }
                        &.next-btn{
                            transform: rotate(-90deg);
                            margin: -15px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}