#section7{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 5px 10px;
            margin: 0 0 95px 0;
            text-align: center;
            .title{
                width: 100%;
                margin: 0 10px 35px 10px;
                h2{
                    width: 100%;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 140%;
                    text-align: left;
                    color: #222;
                }
            }
            .content{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    li{
                        width: 25%;
                        margin: 0 10px 4% 10px;
                        text-align: left;
                        &:hover{
                            .cart-img{
                                bottom: 15px;
                                opacity: 1;
                            }
                        }
                        a{
                            position: relative;
                            figure{
                                display: block;
                                position: relative;
                                img{
                                    width: 100%;
                                }
                            }
                            .new-img{
                                position: absolute;
                                top: 0;
                                right: 0;
                                img{
                                    width: 100%;
                                }
                            }
                            .cart-img{
                                position: absolute;
                                bottom: -37px;
                                left: 45%;
                                width: 37px;
                                height: 37px;
                                background: #fff;
                                border-radius: 50%;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                img{
                                    width: 26px;
                                    height: 26px;
                                    transform: translate(5px, 6px);
                                }
                            }
                        }
                        div{
                            h3{
                                margin: 33px 0 10px 0;
                                a{
                                    color: #222222;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22.4px;
                                }
                            }
                            .rate-price{
                                color: #ff5da4;
                                font-weight: 500;
                                font-size: 20px;
                                letter-spacing: 0.2px;
                                font-family: 'Rubik';
                                line-height: 18px;
                                em{
                                    font-size: 15px;
                                    font-family: 'Noto Sans KR';
                                    letter-spacing: 0.4px;
                                }
                            }
                            .sale-price{
                                color: #222;
                                letter-spacing: 0.2px;
                                font-size: 20px;
                                line-height: 18px;
                                font-weight: 700;
                                font-family: 'Rubik';
                                em{
                                    font-size: 13px;
                                    font-family: 'Noto Sans KR';
                                    letter-spacing: 0.4px;
                                }
                            }
                            .price{
                                color: #a0a0a0;
                                font-size: 14px;
                                font-weight: 300;
                                letter-spacing: 0.2px;
                                font-family: 'Rubik';
                                line-height: 18px;
                                position: relative;
                                padding: 0 0 0 12px;
                                &::after{
                                    content: 'â† ';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    font-size: 8px;
                                }
                                em{
                                    font-size: 13px;
                                }
                            }
                            strong{
                                display: block;
                                color: #208e38;
                                font-size: 14px;
                                margin: 8px 0 0 0;
                                font-weight: 300;
                                line-height: 140%;
                                em{
                                    font-weight: 700;
                                    letter-spacing: -0.14px;
                                }
                            }
                            b{
                                display: block;
                                margin: 0 0 5px 0;
                                font-size: 12px;
                                line-height: 140%;
                                color: #898989;
                            }
                            >em{
                                display: inline-block;
                                font-size: 11px;
                                line-height: 18px;
                                padding: 0 5px;
                                margin: 5px 3px 9px 0;
                                background: #f5f6f9;
                                color: #191a1d;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}